/* gallery component */

.gallery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4em 8em;
}

.galleryItem {
  flex: 1;
  padding: 3em;
}

.galleryImg {
  width: 100%;
  height: auto;
  margin: 1em 0;
}

.galleryTitle {
  font-size: 2.2em;
  font-weight: 700;
}

/* styles for laptops  */
@media only screen and (max-width: 1024px) {
  .gallery {
    padding: 2em 1em;
  }

  .galleryItem {
    padding: 1.5em;
  }

  .galleryTitle {
    font-size: 2em;
  }
}

/* styles for tablets  */
@media only screen and (max-width: 768px) {
  .galleryTitle {
    font-size: 1.5em;
  }
}

/* styles for mobiles */
@media only screen and (max-width: 480px) {
  .gallery {
    flex-direction: column;
    text-align: center;
  }
}
