/* nav component */

.main-nav {
  background-color: #191919;
  padding: 1.5em;
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: grey;
  padding: 1em;
  border-radius: 0.5em;
  width: 30vw;
}

.search-input {
  background-color: transparent;
  border: none;
  width: 85%;
  height: 1.8em;
}

.search-input:focus {
  outline: none;
}

.search-input::placeholder {
  color: lightgray;
  font-size: 1.1em;
}

.search-icon {
  width: 1.5em;
  cursor: pointer;
}

.nav-offer {
  color: #e8e8e8;
  font-size: 1.7em;
  cursor: pointer;
}

.bottom-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}

.nav-item {
  color: lightgray;
  margin-right: 4em;
  cursor: pointer;
}

/* styles for tablets  */
@media only screen and (max-width: 768px) {
  .nav-logo {
    width: 7em;
  }

  .search {
    width: 40vw;
    padding: 0.5em 1em;
  }

  .search-icon {
    width: 1em;
  }

  .nav-offer {
    font-size: 1.3em;
  }

  .nav-item {
    font-size: 1em;
  }

  .nav-item:last-child {
    margin-right: 0;
  }
}

/* styles for mobiles */
@media only screen and (max-width: 480px) {
  .main-nav {
    padding: 1em;
  }

  .nav-logo {
    width: 5em;
  }

  .nav-offer {
    font-size: 1em;
    width: 4em;
    text-align: center;
  }

  .bottom-nav {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.5em;
  }

  .nav-item {
    margin: 0.5em 1em;
  }
}
