/* slider component */

.slider {
  background-image: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
  overflow: hidden;
}

.slider-Wrapper {
  display: flex;
  width: 500vw;
  transition: all 1s ease-in-out;
}

.slider-Item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 4em;
}

.slider-img {
  width: 40em;
  height: auto;
  z-index: 1;
}

.slider-Price {
  position: absolute;
  top: 14%;
  left: 28%;
  color: #ffffff;
  font-weight: 300;
  border: 1px solid rgb(165, 165, 165);
  font-size: 3em;
}

.slider-Title {
  position: absolute;
  top: 25%;
  right: 20%;
  color: #ffffff;
  text-align: right;
  font-size: 4em;
}

.buy-button {
  position: absolute;
  top: 60%;
  right: 20%;
  color: #000;
  background-color: #fff;
  font-size: 2em;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.slider-Bg {
  width: 45em;
  height: 45em;
  position: absolute;
  border-radius: 50%;
}

.slider-Item:nth-child(1) .slider-Bg {
  background-color: rgb(168, 0, 168);
}

.slider-Item:nth-child(2) .slider-Bg {
  background-color: rgb(0, 39, 98);
}

.slider-Item:nth-child(3) .slider-Bg {
  background-color: rgb(0, 98, 11);
}

.slider-Item:nth-child(4) .slider-Bg {
  background-color: rgb(98, 47, 0);
}

.slider-Item:nth-child(5) .slider-Bg {
  background-color: rgb(131, 126, 0);
}

/* Hover will activate when user uses a mouse cursor */
@media (hover: hover) and (pointer: fine) {
  .buy-button:hover {
    color: #fff;
    background-color: #000;
  }
}

/* styles for large laptops */
@media only screen and (max-width: 1440px) {
  .slider-Price {
    left: 20%;
  }

  .slider-Title,
  .buy-button {
    right: 15%;
  }
}

/* styles for laptops  */
@media only screen and (max-width: 1024px) {
  .slider-img {
    width: 25em;
  }

  .slider-Bg {
    width: 25em;
    height: 25em;
  }

  .slider-Price {
    font-size: 2em;
    left: 25%;
  }

  .slider-Title {
    font-size: 2.5em;
    right: 20%;
  }

  .buy-button {
    font-size: 1em;
    right: 20%;
  }
}

/* styles for tablets  */
@media only screen and (max-width: 768px) {
  .slider-Price {
    left: 17%;
  }

  .slider-Title {
    right: 10%;
  }

  .buy-button {
    right: 10%;
  }
}

/* styles for mobiles */
@media only screen and (max-width: 480px) {
  .slider-img {
    width: 20em;
  }

  .slider-Price {
    top: 5%;
    left: 5%;
  }

  .slider-Title {
    font-size: 2em;
    top: 5%;
    right: 5%;
  }

  .buy-button {
    top: 85%;
    right: 5%;
  }

  .slider-Bg {
    width: 20em;
    height: 20em;
  }
}
